@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Colfax Medium';
    src: url('./type-fonts/Colfax-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Colfax Medium', sans-serif;
  }
  